footer {
    padding: 20px 0 20px 0;
    background-color: #2e3333;
    h5 {
        font-size: $spacing-unit * 2.2;
    }
    li {
        font-size: $spacing-unit * 1.6;
    }

    .footer-card {
        min-height: 200px;
        border-radius: 10px;
        border-width: 0px;
        background-color: #434848;
        color: #fff;
        h5 {
            font-size: 16px;
        }
        .footer-card-body {
            li a {
                font-size: 12px;
                &:hover {
                    color: #00b8a9;
                }
            }
            .app-link {
                max-width: 140px;
            }
        }
    }

    .social {
        color: #fff;
        .fa-facebook:hover {
            color: #1877f2;
        }
        .fa-twitter:hover {
            color: #55acee;
        }
        .fa-instagram:hover {
            color: #f00075;
        }
    }

    .copy {
        color: #828285;
    }
}
