#welcome-blade {

    h2 {
        font-size: 20px;
        margin: 30px 0;
    }

    #jumbotron {
        position: relative;
        padding: 40px 0;
        height: calc(100vh - #{$dashboardHeaderHeight});
        max-height: 870px;
        background-image: url('../images/jumbotron.png');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        .jumb {
            position: relative;
            z-index: 10;
        }
        .waves {
            position: absolute;
            bottom: 0; left: 0; right: 0;
        }
    }

    .main {
        background-color: #eeeeee;
        min-height: 100vh;
    }

    // categorie
    #category-container {
        position: relative;

        .category-container {
            overflow-x: hidden;

            // Category Card
            .card-size {
                position: relative;
                box-sizing: border-box;
                min-width: 180px;
                height: 90px;
                display: flex;
                align-items: flex-end;
                color: #fff;
                text-shadow: 0 1px 4px rgb(0 0 0 / 8%);
                background-color: $backgroundBrandPr;
                border-radius: 4px;
                background-size: cover;
                // background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),to(rgba(0,0,0,.16)));
                // background: linear-gradient(180deg, transparent 50%,rgba(0,0,0,.16));
                font-weight: 700;
                font-size: 16px;
                cursor: pointer;
                span{
                    padding: 3px;
                }
                img {
                    position: absolute;
                    bottom: 0; right: 0;
                    max-width: 100%;
                    max-height: 100%;
                }

                &#tutte, &#Italiano, &#Cinese, &#Giapponese, &#Indiano, &#Fusion, &#Hamburger, &#Pizza, &#Kebab, &#Greco, &#Thailandese {
                    background-size: contain;
                    background-position: top right;
                    background-repeat: no-repeat;
                    position: relative;
                    & .overlay {
                        content: '';
                        position: absolute;
                        top: 0; bottom: 0; right: 0; left: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        border-radius: 4px;
                    }
                    &.selected .overlay {
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
                // colore e img
                &#tutte {
                    background-color: #FE9364;
                }
                &#Italiano {
                    background-color: #007E8A;
                    background-image: url('../images/carousel/italiano.png');
                }
                &#Cinese {
                    background-color: #00CCCB;
                    background-image: url('../images/carousel/cinese.png');
                }
                &#Giapponese {
                    background-color: #3D0059;
                    background-image: url('../images/carousel/giapponese.png');
                }
                &#Indiano {
                    background-color: #FABE00;
                    background-image: url('../images/carousel/indiano.png');
                }
                &#Fusion {
                    background-color: #E95A61;
                    background-image: url('../images/carousel/fusion.png');
                }
                &#Hamburger {
                    background-color: #981671;
                    background-image: url('../images/carousel/hamburger.png');
                }
                &#Pizza {
                    background-color: #007E8A;
                    background-image: url('../images/carousel/pizza.png');
                }
                &#Kebab {
                    background-color: #00CCCB;
                    background-image: url('../images/carousel/kebab.png');
                }
                &#Greco {
                    background-color: #3D0059;
                    background-image: url('../images/carousel/greco.png');
                }
                &#Thailandese {
                    background-color: #FABE00;
                    background-image: url('../images/carousel/thailandese.png');
                }
            }
        }

        .category-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 56px;
            // height: 56px;
            position: absolute;
            font-size: 20px;

            top: 50%;
            transform: translateY(-50%);
            padding: 0 7px;
            cursor: pointer;

            background: #fff;
            color: $backgroundBrandPr;
            border: 1px solid rgba(0,0,0,.04);
            border-radius: 50%;
            -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
            box-shadow: 0 1px 4px rgb(0 0 0 / 8%);

            &:hover {
                box-shadow: 0 6px 20px rgb(0 0 0 / 8%);
            }
        }
    }

    // ristoranti
    #restaurant-container {
        .flex-conditions {
            justify-content: space-between;
        }

        .restaurant-card {
            box-shadow: 0 1px 4px rgb(0 0 0 / 8%), 0 0 0 1px rgb(0 0 0 / 4%);
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;
            height: 300px;

            // parte superiore: img
            .cover-container {
                height: 150px;
                overflow: hidden;
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: all 1s;
                }
            }

            &:hover {
                .cover-container {
                    img {
                        transform: scale(1.2);
                    }
                }
            }

            .body-container {
                .card-title {
                    color: black;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 600;
                }
                .card-text {
                    font-size: 13px;
                    color: #828285;
                    span {
                        font-style: italic;
                    }
                }
            }
        }
    }
}
