#main-dashboard {
    // VIEW dishes.index

    table {
        .name {
            max-width: 200px;
        }
        .btn-column {
            min-width: 150px;
        }
    }

}
// show dish
.dish-cover-container{
    height: 200px;
    display: flex;
    justify-content: flex-end;

    img{
        width: auto;
        max-height: 100%;
    }
}
