header {
    height: $dashboardHeaderHeight;

    #admin-navbar {
        height: $dashboardHeaderHeight;
        background-color: #00CCBC;
        color: white;

        img {
            max-height: 32px;
        }
    }

} // fine header
