#main-dashboard {
    background-image: linear-gradient(95deg, #D0EB99 30%, #fff 30%);
    height: calc(100vh - #{$dashboardHeaderHeight});
    overflow-y: auto;

    .row {
        // main part -> content
    }

}
